:root {
    --dark-peach: rgb(233, 139, 84);
    --peach: rgb(244, 201, 176);
    --light-peach: rgb(250, 240, 226);
    --light-sage: rgb(187, 198, 176);
    --dark-sage: rgb(112, 139, 85);
}
*{
    box-sizing: border-box; 
}
html{
    height: 100%;
    width: 100%;
}
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 100px auto auto 10px 50px;
    grid-template-areas:
    "nav"
    "title"
    "proj"
    "txt"
    "space"
    "footer"; 
    width: 100%;
    height: 100%;
    background-image: url(sagegreenbackgroundAbMe.jpg);
    background-position: 40% 60%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    }

nav { 
    border-bottom: 5px solid var(--dark-peach);
    background-color: rgb(168, 183, 150);
    grid-area: nav; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: azote, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    align-self: center;
}

nav:hover {
    border-bottom: 5px solid var(--dark-sage);
}
nav > a {
    color: white;
}
nav > a:hover {
    color: black;
}
h1 { 
    grid-area: title;
    justify-self: center;
    align-self: center;
    font-family: "azote", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: var(--dark-sage);
    background-color: rgba(255, 255, 255, 0.757);
    border-radius: 10px;
    border: 1px solid;
}
h1:hover {
    background-color: rgba(250, 240, 226, 0.784);
    border: 2px solid black;
}
.projectLinks {
    grid-area: proj;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tic-tac-toe {
    width:100%
}
.text-descritpions {
    grid-area: txt; 
}
.space {
    grid-area: space; 
}

footer { 
    grid-area: footer; 
    background-color: var(--peach);
    border-top: 5px solid var(--dark-sage);
    font-family: azote, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: -7px;
    margin-left: -7px;
}
footer:hover {
    background-color: var(--light-peach);
    color: white;
}
footer > a {
    color: var(--dark-peach)
}
footer > a:hover {
   color: var(--dark-sage);
}
@media only screen and (min-width: 768px){
    nav {
        font-size: 33px;
    }
}
@media only screen and (min-width: 1024px){
    nav {
        font-size: 40px;
    }
}