:root {
    --dark-peach: rgb(233, 139, 84);
    --peach: rgb(244, 201, 176);
    --light-peach: rgb(250, 240, 226);
    --light-sage: rgb(187, 198, 176);
    --dark-sage: rgb(112, 139, 85);
}
*{
    box-sizing: border-box; 
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    background-color: white;
    display: grid;
    grid-template-columns:  0.3fr 1fr 1fr 1fr 0.3fr;
    grid-template-rows: auto 200px 80px auto 50px;
    grid-template-areas:
    " . . name . . "
    " . scoreboard scoreboard scoreboard . "
    " . gameh1 gameh1 gameh1 . "
    " . board board board . "
    " . . playagain . . "; 
    width: 100%;
    height: 100%;
}
#modal {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.modal-textbox {
    background-color: var(--peach);
    border-radius: 20px;
    border: 5px solid var(--light-sage);
    height: 375px;
    width: 300px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    color: rgb(153, 172, 53);
    font-size: 23px;
    box-shadow: 30px 5px 5px var(--dark-peach);
    position: fixed;
    top: 10%;
    left: 10%;
}
.modal-textbox:hover {
    box-shadow: 30px 5px 5px var(--dark-sage); 
} 
.modal-textbox > h1 {
    font-family: "azote", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: -10px;
}
#inputname {
    grid-area: name;
    font-family: "azote", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 28px;
}
#playGame {
    background-color: var(--light-sage);
    box-shadow: 10px 5px 5px var(--dark-peach);
    border-radius: 10px;
    border: 1px solid var(--light-sage);
    height: 35px;
    width: auto;
    font-size: 25px;
    margin-top: 15px;
    font-family: azote, serif;
    font-weight: 300;
    font-style: normal;
}
#playGame:hover {
    background-color: rgb(233, 139, 84);
    box-shadow: 10px 5px 5px var(--dark-sage);
    cursor: pointer;
}
.scoreboard {
    grid-area: scoreboard;
    align-content: center;
    justify-self: center;
    border: 10px solid var(--light-sage);
    background-color: var(--light-peach);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 50px .125fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "ttt . p1wins tie  p2wins"; 
    width: 100%;
    height: 90%;
    align-self: center;
}
.scoreboard > header {
    grid-area: ttt;
    font-family: "azote", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    justify-self: center;
    align-self: center;
    padding-left: 5px;
} 
.scoreboard > div {
    font-size: 18px;
    font-family: azote, serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    overflow: scroll;
    word-wrap: break-word;
    align-items: baseline;
}
div > h4 {
    margin-bottom: -15px;
}
#p1wins {
    grid-area: p1wins;
    border-radius: 5px;
    border: 2px solid var(--light-sage);
    background-color: var(--peach);
    color: var(--light-sage);
    text-align: center;
    height: 60%;
    width: 95%;
    justify-self: center;
    align-self: center;
}
#ties {
    grid-area: tie;
    border-radius: 5px;
    border: 2px solid var(--light-sage);
    background-color: var(--peach);
    color: var(--light-sage);
    text-align: center;
    height: 60%;
    width: 95%;
    justify-self: center;
    align-self: center;
}
#p2wins {
    grid-area: p2wins;
    border-radius: 5px;
    border: 2px solid var(--light-sage);
    background-color: var(--peach);
    color: var(--light-sage);
    text-align: center;
    height: 60%;
    width: 95%;
    justify-self: center;
    align-self: center;
} 
.game {
    grid-area: gameh1;
    text-align: center;
    color: rgb(244, 201, 176);
    font-family: "azote", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    align-self: center;
}
.board-grid {
    grid-area: board;
    align-self: center;
    justify-self: center;
}
.grid-container {
    display: grid;
    grid-template-columns: 71px 71px 71px;
    grid-template-rows: 71px 71px 71px;
    height: fit-content;
    width: fit-content;
    color: white;
    border-radius: 10px;
    border: 50px solid rgb(250, 240, 226);
}
.grid-item {
    background-color: rgb(187, 198, 176);
    border: 1px solid rgb(244, 201, 176);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "azote", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
}
#results {
    text-align: center;
    grid-area: playagain;
}
#gameovermsg {
    text-align: center;
    color: var(--dark-peach);
    font-family: "azote", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin: 0;
}
#restart {
    background-color: var(--light-sage);
    box-shadow: 10px 5px 5px var(--dark-peach);
    border-radius: 10px;
    border: 1px solid var(--light-sage);
    height: 35px;
    width: auto;
    font-size: 15px;
    font-family: azote, serif;
    font-weight: 300;
    font-style: normal;
    margin: 10px;
    }
#restart:hover {
    background-color: rgb(233, 139, 84);
    box-shadow: 10px 5px 5px var(--dark-sage);
    cursor: pointer;
}
@media only screen and (min-width: 600px) { 
    body {
        grid-template-rows: auto 225px 80px auto 50px;
    }
    .modal-textbox {
        height: 375px;
        width: 400px;
        font-size: 23px;
        position: relative;
        top: 20%;
        left: 20%;
    }
    #inputname {
        font-size: 50px;
    }
    .scoreboard > header {
        font-size: 28px;
        margin-left: 30px;
    } 
    .scoreboard > div {
        font-size: 30px;
    }
    div > h4 {
        margin-bottom: -20px;
    }
    #p1wins {
        height: 80%;
        width: 80%;
        overflow: hidden;
    }
    #ties {
        height: 80%;
        width: 80%;
        overflow: hidden;
    }
    #p2wins {
        height: 80%;
        width: 80%;
        overflow: hidden;
    } 
    .game {
        font-size: 60px;
    }
    .grid-container {
        grid-template-columns: 90px 90px 90px;
        grid-template-rows: 90px 90px 90px;
    }
    #gameovermsg {
        font-size: 40px;
    }
    #restart {
        font-size: 20px;
    }
}
@media only screen and (min-width: 930px){
    .modal-textbox {
        height: 375px;
        width: 550px;
        margin: 150px auto;
        padding: 10px;
        position: fixed;
        top: 10%;
        left: 30%;
    }
    .modal-textbox > h1 {
        font-size: 85px;
        margin-bottom: -10px;
    }
    .scoreboard {
        width: 700px;
        height: 200px;
        padding: 20px;  
        display: flex;
        justify-content: space-between;
    }
    .scoreboard > header {
        font-size: 40px;
    } 
    #p1wins {
        height: 150px;
        width: 125px;
        margin: 10px;
    }
    #ties {
        height: 150px;
        width: 125px;
        margin: 10px;
    }
    #p2wins {
        height: 150px;
        width: 125px;
        margin: 10px;
    } 
    .grid-container {
        grid-template-columns: 120px 120px 120px;
        grid-template-rows: 120px 120px 120px;
    }
}