:root {
    --dark-peach: rgb(233, 139, 84);
    --peach: rgb(244, 201, 176);
    --light-peach: rgb(250, 240, 226);
    --light-sage: rgb(187, 198, 176);
    --dark-sage: rgb(112, 139, 85);
}
body {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--light-sage);
}
html {
    height: 100%;
    width: 100%;
}
nav {
    border-bottom: 5px solid var(--dark-peach);
    background-color: var(--dark-sage);
    height: 50px;
    font-family: azote, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}
nav:hover {
    background-color: var(--light-sage);
}
nav > a {
    color: white;
}
nav > a:hover {
    color: var(--dark-peach);
    /* add animation: ; */
 }

h1 {
    font-family: "azote", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    margin-top: 70px;
    color: var(--dark-sage)
}
.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    justify-content: space-around;
}
.image {
    width: 70%;
    background: rgb(107, 139, 107);
    padding: 20px;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 10px 10px rgb(195, 134, 134);
}
.imgs {
    /* display: none; */
    width: 100%;
    border-radius: 30px;
}
.img img:first-of-type {
    display: block;
}
.prevBtn, .nxtBtn {
    align-items: center;
    border: .5px solid black;
    color: black;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 1px 1px ;
}

.prevBtn:hover {
    cursor: w-resize;
    background: black;
    box-shadow: 3px 3px peachpuff;
    color: white;
}
.nxtBtn:hover {
    cursor: e-resize;
    background: black;
    box-shadow: 3px 3px peachpuff;
    color: white;
}

footer {
    background-color: var(--peach);
    border-top: 5px solid var(--dark-sage);
    font-family: azote, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer:hover {
    background-color: var(--light-peach);
    color: white;
}
footer > a {
    color: var(--dark-peach)
}
footer > a:hover {
   color: var(--dark-sage);
   /* add animation: ; */
}

