body {
    position: relative;
    height: 100%;
    width: 100%;
}
html {
    height: 100%;
    width: 100%;
}
nav {
    border: 2px solid green;
    height: 50px;
    font-family: azote, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}
h1 {
    font-family: "azote", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    margin-top: 70px;
}
object {
    width: 50%;
    height: 60vh;
    text-align: center;
}

footer {
    border: 10px solid black;
    font-family: azote, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}