:root {
    --dark-peach: rgb(233, 139, 84);
    --peach: rgb(244, 201, 176);
    --light-peach: rgb(250, 240, 226);
    --light-sage: rgb(187, 198, 176);
    --dark-sage: rgb(112, 139, 85);
}
body {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--light-sage);
}
html {
    height: 100%;
    width: 100%;
}
nav {
    border-bottom: 5px solid var(--dark-peach);
    background-color: var(--dark-sage);
    height: 50px;
    font-family: azote, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}
nav:hover {
    background-color: var(--light-sage);
}
nav > a {
    color: white;
}
nav > a:hover {
    color: var(--dark-peach);
    /* add animation: ; */
 }
h1 {
    font-family: "azote", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    margin-top: 70px;
    color: var(--dark-sage)
}
object {
    width: 50%;
    height: 60vh;
    text-align: center;
}
div{
    text-align: center;
}
.resumeBtn {
    margin-bottom: 10px;
    background-color: var(--dark-sage);
    box-shadow: 10px 5px 5px var(--dark-peach);
    border-radius: 10px;
    border: 3px solid var(--dark-peach);
    height: 35px;
    width: auto;
    font-size: 30px;
    margin-top: 15px;
    font-family: azote, serif;
    font-weight: 300;
    font-style: normal;
}
.resumeBtn > a{
    text-decoration: none;
    color: white;
}
.resumeBtn:hover {
    background-color: rgb(233, 139, 84);
    box-shadow: 10px 5px 5px var(--dark-sage);
    cursor: pointer;
}

footer {
    background-color: var(--peach);
    border-top: 5px solid var(--dark-sage);
    font-family: azote, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer:hover {
    background-color: var(--light-peach);
    color: white;
}
footer > a {
    color: var(--dark-peach)
}
footer > a:hover {
   color: var(--dark-sage);
   /* add animation: ; */
}

