:root {
    --dark-peach: rgb(233, 139, 84);
    --peach: rgb(244, 201, 176);
    --light-peach: rgb(250, 240, 226);
    --light-sage: rgb(187, 198, 176);
    --dark-sage: rgb(112, 139, 85);
    --dark-sage2: rgb(46, 57, 35)
}
*{
    box-sizing: border-box; 
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  70px auto auto auto auto auto 700px 520px .5fr 320px auto 50px;
    grid-template-areas:
    "nav"
    "title"
    "resumebtn"
    "name"
    "contact"
    "lookup"
    "experince"
    "education"
    "skills"
    "honors"
    'lis'
    "footer";
    height: 100%;
    width: 100%;
    background-image: url(sagegreenbackgroundAbMe.jpg);
    background-position: 50% 60%;
    background-repeat: repeat;
    background-size: cover;
    margin: 0;
}
nav {
    border-bottom: 5px solid var(--dark-peach);
    background-color: rgb(168, 183, 150);
    grid-area: nav; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: azote, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 28px;
}
nav:hover {
    border-bottom: 5px solid var(--dark-sage);
}
nav > a {
    color: white;
}
nav > a:hover {
    color: black;
    /* add animation: ; */
}
.title { 
    grid-area: title;
    justify-self: center;
    align-self: center;
    font-family: "azote", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: var(--dark-sage);
    background-color: rgba(255, 255, 255, 0.757);
    border-radius: 10px;
    border: 1px solid;
    margin: 10px;
}
 .title:hover {
    background-color: rgba(250, 240, 226, 0.784);
    border: 2px solid black;
}
.res{
    grid-area: resumebtn;
    text-align: center;
}
.resumeBtn {
    margin-bottom: 20px;
    background-color: var(--dark-sage);
    box-shadow: 10px 5px 5px var(--dark-peach);
    border-radius: 10px;
    border: 3px solid var(--dark-peach);
    height: 35px;
    width: auto;
    font-size: 30px;
    margin-top: 15px;
    font-family: azote, serif;
    font-weight: 300;
    font-style: normal;
 
}
.resumeBtn > a{
    text-decoration: none;
    color: white;
}
.resumeBtn:hover {
    background-color: rgb(233, 139, 84);
    box-shadow: 10px 5px 5px var(--dark-sage);
    cursor: pointer;
}
.name {
    grid-area: name;
    justify-self: center;
    align-self: center;
    font-family: "azote", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: black;
    border-radius: 4px;
}
.contact {
    grid-area: contact;
    text-align: center;
    border: 3px solid var(--dark-peach);
    border-radius: 50px;
    padding: 15px;
    align-self: center;
    justify-self: center;
    background-color: rgba(255, 255, 255, 0.757);
    color: var(--dark-sage);
}
.contact > h4 {
    font-family: "azote", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin: 0;
}
.contact > p {
    margin: 3px;
    font-family: "azote", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
}
.lookup {
    grid-area: lookup;
    text-align: center;
    font-family: "azote", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.757);
    border: 3px solid var(--dark-peach);
    border-radius: 50px;
    display: flex;
    height: 90%;
    justify-content: center;
    align-self: center;
    justify-self: center;
    padding: 15px;
    color: var(--dark-sage);
}
.lookup > p {
    align-self: center;
    justify-self: center;
}
.lookup > ul {
    list-style-type: none;
    margin-left: -30px;
}
.cards {
    justify-content: center;
    width: 95%;
    height: 98%;
}

.card {
    perspective: 1000px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.front, .back {
    display: flex;
    flex-direction: column;
    /* width: 100%;
    height: 100%; */
    backface-visibility: hidden;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.front {
    height: 100%;
    border: 3px solid var(--dark-peach);
    background-image: url("../Other Files/flw.jpg");
    text-align: center;
    color: var(--dark-sage2);
    font-family: azote, serif;
    font-weight: 400;
    font-style: normal;
    transform: rotateY(0deg);
}
.back {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.757);
    border: 3px solid var(--dark-peach);
    overflow-y: scroll;
    white-space: wrap;
    font-size: 15px;
    color: var(--dark-sage2);
    font-family: azote, serif;
    font-weight: 300;
    font-style: normal;
    padding-left: 15px;
    padding-right: 10px;
    height: fit-content;
    margin-bottom: 10px;
    transform: rotateY(180deg);
    position: fixed;
    
}
.flipped .front {
    transform: rotateY(180deg);
}
  
.flipped .back {
    transform: rotateY(360deg);
}

.experince {
    grid-area: experince;
    /* background-color: rgba(255, 255, 255, 0.757);
    border: 3px solid var(--dark-peach); */

    /* border-radius: 50px; */
}
.experince > h1, .education > h1, .skills-section > h1, .honors-awards > h1, .Lisc-cert > h1 {
    font-family: "azote", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0;
}
h4 {
    font-family: "azote", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    margin: 0;
}
.Lisc-cert > h4 {
    margin: 10px;
}
.education {
    grid-area: education;
    background-color: rgba(255, 255, 255, 0.757);
    border: 3px solid var(--dark-peach);
    border-radius: 50px;
    height: fit-content;
    overflow-y: scroll;
    white-space: wrap;
    padding: 5px;
    font-size: 15px;
    color: var(--dark-sage2);
    font-family: azote, serif;
    font-weight: 300;
    font-style: normal;
    padding-left: 15px;
    margin-bottom: 10px;
}
.skills-section {
    grid-area: skills;
    background-color: rgba(255, 255, 255, 0.757);
    border: 3px solid var(--dark-peach);
    border-radius: 50px;
    height: fit-content;
    padding: 5px;
    font-size: 15px;
    color: var(--dark-sage2);
    font-family: azote, serif;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 10px;
}
.honors-awards {
    grid-area: honors;
    background-color: rgba(255, 255, 255, 0.757);
    border: 3px solid var(--dark-peach);
    border-radius: 50px;
    height: fit-content;
    overflow-y: scroll;
    white-space: wrap;
    padding: 10px;
    padding-left: 15px;
    font-size: 15px;
    color: var(--dark-sage2);
    font-family: azote, serif;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 10px;
}
.Lisc-cert {
    grid-area: lis;
    background-color: rgba(255, 255, 255, 0.757);
    border: 3px solid var(--dark-peach);
    border-radius: 50px;
    height: fit-content;
    padding: 10px;
    font-size: 15px;
    color: var(--dark-sage2);
    font-family: azote, serif;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 40px;
    align-self: center;
    justify-self: center;
}
.experince:hover, .education:hover, .skills-section:hover, .honors-awards:hover, .Lisc-cert:hover {
    background-color: rgb(250, 240, 226);
}
footer { 
    grid-area: footer; 
    background-color: var(--peach);
    border-top: 5px solid var(--dark-sage);
    font-family: azote, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer:hover {
    background-color: var(--light-peach);
    color: white;
}
footer > a {
    color: var(--dark-peach)
}
footer > a:hover {
   color: var(--dark-sage);
   /* add animation: ; */
}
@media only screen and (min-width: 520px) {
    body {
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  70px auto auto auto auto 700px 1fr .5fr 50px;
        grid-template-areas:
        "nav nav"
        "title title"
        "resumebtn resumebtn"
        "name name"
        "contact lookup"
        "experince education"
        "skills honors"
        'lis lis'
        "footer footer";
        height: 100%;
        width: 100%;
        background-image: url(sagegreenbackgroundAbMe.jpg);
        background-position: 50% 60%;
        background-repeat: repeat;
        background-size: cover;
        margin: 0;
    }
}
@media only screen and (min-width: 768px) { 
   body {
    grid-template-columns: .25fr 1fr 1fr .25fr;
    grid-template-rows:  70px auto auto auto auto 700px 1fr .5fr 50px;
    grid-template-areas:
    " nav nav nav nav "
    " . title title  . "
    " . resumebtn resumebtn . "
    " . name name . "
    " . contact lookup . "
    " . experince education . "
    " . skills honors . "
    " . lis lis . "
    " footer footer footer footer ";
   }
    nav {
        font-size: 33px;
    }
    .contact > h4 {
        font-size: 50px;
    }
    .contact > p {
        font-size: 30px;
    }
    .lookup {
        font-size: 40px;
        padding: 10px;
    }
    .experince {
        font-size: 20px;
    }
    .education {
        font-size: 20px;
    }
    .skills-section {
        font-size: 20px;
    }
    .honors-awards {
        font-size: 20px;
    }
    .Lisc-cert {
        font-size: 20px;
    }
    h4 {
        font-size: 30px;
    }
}
@media only screen and (min-width: 1024px){
    body{
        grid-template-columns: .125fr 1fr 1fr .125fr;
    }
    nav {
        font-size: 40px;
    }
    .contact > h4 {
        font-size: 55px;
    }
}




/* script 
// const cards = document.querySelectorAll(".card");

// function flip() {
//     this.classList.toggle('flip');
// }
// cards.forEach((card) => card.addEventListener("click", flip));

var card = document.querySelector('.card');
card.addEventListener('click', function() 
{
  card.classList.toggle('flipped');
}); */